.home-page-content{
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;  
}

.hero-section,
.mission-statement,
.featured-content-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.hero-text, .hero-image,
.mission-image, .mission-text,
.featured-text, .featured-image{
    width: 45%;
}

.hero-text h1, .hero-text p{
    color: #2c2b2b;
    font-size: 50px;
}

.mission-text p{
  color: #2c2b2b;
  font-size: 23px;
  
}

.mission-text h2{
  color: #2c2b2b;
  text-align: center;
  font-size: 40px;
}


.featured-text h2{
  color: #2c2b2b;
  text-align: center;
  font-size: 35px;
}

.featured-text p,
.featured-text ul li{
  color: #2c2b2b;
  font-size: 20px;
}

.hero-image img,
.mission-image img,
.featured-image img{
    border-radius: 25px;
    border: 3px groove #2c2b2b;
    width: 100%;
    height: auto;
}


